.container {
    text-align: center;

}

table {
    margin: auto;
}

button {

    font-size: 33px;
    font-weight: bold;
    height: 59px;
    width: 125px;
    border-radius: 12px;
    background-color: #c185d0;

}

input {

    font-size: 39px;
    border-radius: 16px;
    border-width: 12px;
}

.calculator {
    display: inline-block;
    background-color: aqua;
    padding: 10px;
    border-radius: 19px;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 46px;
}